# dependencies
node_modules
.pnpm-store

# build
.next
out
dist
build
.turbo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE / OS
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# testing
coverage

# prisma
packages/db/prisma/*.db
packages/db/prisma/*.db-journal

# misc
*.tsbuildinfo
next-env.d.ts
apps/web/next-env.d.ts
